<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Adivina el numero secreto
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <ion-input type="number" min="1" max="100" [(ngModel)]="num" placeholder="Introduce un numero del 1 al 100">
    </ion-input>
    <p>El numero secreto es {{ mayorMenor }} que el numero introducido</p>

    <ion-card *ngIf="mayorMenor== 'igual'">
      <ion-card-header>
          ¡¡¡ENHORABUENA!!!
      </ion-card-header>
      <ion-card-content>
          Has acertado, el numero secreto es {{ num }}
      </ion-card-content>
    </ion-card>

    <ion-button class="boton" expand="block" ngIf="mayorMenor!='igual'" (click)="compruebaNumero()">Adivina</ion-button>
    <ion-button expand="block"  ngIf="mayorMenor=='igual'" (click)="reiniciar()">Volver a jugar</ion-button>

  </div>
</ion-content>