<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Adivina ¿Par o Impar?
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <ion-input type="number" [(ngModel)]="num" placeholder="Introduce un número"></ion-input>
    <p>{{ resultado }}</p>

    <ion-button expand="block" (click)="compruebaSiEsPar()">Comprobar</ion-button>
    <ion-button expand="block" color="medium" (click)="reiniciar()">Reiniciar</ion-button>
  </div>
</ion-content>